<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SignUP</title>
</head>
<body>
       <h2>Welcome to SignUp page!</h2>
        <form action="signUpPage" method="post">
       <label>USERRNAME</label>
       <input type="text" name="username"><br><br>
       <label>PASSWORD</label>
       <input type="password" name="password"><br><br>
        <label>Email</label>
       <input type="email" name="email"><br><br>
        <label>GENDER</label>
       <input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="Female">Female
         <input type="radio" name="gender" value="Other">Other
         <br><br>
       <input type="submit" name="SIGNUP">
       
       </form>

</body>
</html>